.input {
	width: 100%;
	padding: 8px;
	border: solid 1px currentColor;
	border-radius: 4px;
}

.item {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 8px;
	border-top: 1px solid black;
	margin-top: 16px;
	padding-top: 16px;
	min-width: 400px;
}

.button {
	color: var(--color-main);
	background-color: transparent;
	border: solid 1px currentColor;
	border-radius: 4px;
	padding: 4px 8px;
	cursor: pointer;
	transition: all 0.3s;
}

.button:hover {
	color: #fff;
	background-color: var(--color-main);
}

.warning {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.warningButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.xmark {
	color: tomato;
}

.xmark:hover {
	background-color: tomato;
	color: white;
}