.input {
	width: 100%;
	padding: 8px;
	border: solid 1px currentColor;
	border-radius: 4px;
}

.item {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 8px;
	border-top: 1px solid black;
	margin-top: 16px;
	padding-top: 16px;
	min-width: 400px;
}