.input {
	padding: 8px;
	width: 100%;
	border: solid 1px currentColor;
	border-radius: 4px;
}

.item {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-top: 16px;
	margin-top: 16px;
	min-width: 400px;
	border-top: 1px solid black;
	list-style-type: none;
}

.button {
	color: var(--color-main);
	background-color: transparent;
	border: solid 1px currentColor;
	padding: 4px 8px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s;
}

.button:hover {
	color: #fff;
	background-color: var(--color-main);
}

.warning {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.warningButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.xmark {
	color: tomato;
}

.xmark:hover {
	background-color: tomato;
	color: white;
}

.yesButton {
	color: rgb(15, 193, 15);

	&:hover {
		color: white;
		background-color: rgb(15, 193, 15);
	}
}
.noButton {
	color: tomato;

	&:hover {
		color: white;
		background-color: tomato;
	}
}
