.container {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 72px;
	border-radius: 12px;
	width: 30%;
	box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.item {
	display: flex;
	padding: 8px;
	gap: 25px;
}

.closeModal {
	position: relative;
	bottom: 60px;
	left: 450px;
	color: white;
	background: none;
	padding: 6px;
	font-size: 26px;
	border: none;
	cursor: pointer;
}

.check {
	color: var(--color-main);
}

.trash {
	color: tomato;
}

.edit {
	color: rgb(15, 193, 15);
}

.xmark {
	color: tomato;
}
.disk {
	color: rgb(15, 193, 15);
}
