.container,
.containerBlur {
	display: inline-block;
	background-color: #fff;
	padding: 24px 64px;
	border-radius: 12px;
	max-width: 800px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.containerBlur {
	filter: blur(10px);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 100px;
	padding: 12px;
}

h1 {
	font-size: 32px;
}

h2 {
	padding: 8px 14px;
	margin-top: 10px;
	border-radius: 12px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	background-color: #fffafa;
}

.button {
	background-color: #fffafa;
	padding: 6px;
	border: none;
	color: black;
	width: 50px;
	aspect-ratio: 1;
	font-size: 32px;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	transition: all 0.1s;
}

.button:hover {
	border-top: 1px solid rgb(63, 63, 63);
}

.dotsButton {
	position: relative;
	top: -30px;
	left: 400px;
	padding: 12px;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 18px;
}
